

@media (max-width: 479px) {
    body {
    background-color: #FF6B6B; 
    flex-direction: column; }
    .large {
      visibility: hidden;
    }
    .medium {
      visibility: hidden ;

    
    }
}
 


@media (min-width: 480px) and (max-width: 1023px) {
  body { 
    background-color: #4ECDC4; } 
    .small {
      visibility: hidden;
    }
    .large {
      visibility: hidden;
    }


  
 }






@media (min-width: 1024px) {
  body {
    background-color: #1A535C;
   }
    .small {
        visibility: hidden;
     }
     .medium {
        visibility: hidden;
     }
    
  }

  